# ignore python compile file
__pycache__/

# ignore pytest coverage artifacts
.coverage

# ignore the generated html file
rendered-articles/

# ignore instance folder
instance/

# igonre the docker bind mount folder
articles-data-test/

# igonre the logs which host on the 
logs/
.env
nginx-modsecurity/.htpasswd
nginx-modsecurity/ssl/

# ignore tf related file
.terraform/
terraform.tfstate
terraform.tfstate.*
terraform.tfvars
*.tfplan
