<nav class="navbar navbar-expand-sm navbar-custom fixed-top">
    <div class="container-fluid d-flex justify-content-center">
        <div class="site-nav-shell px-2 px-lg-3">
            <div class="site-nav-identity">
                <a href="{{ url_for('index', lang=current_lang) }}" class="site-nav-brand">hanjie site</a>
                {% include "_language_switcher.html" %}
            </div>
            <ul class="navbar-nav flex-row site-nav-menu">
                <li class="nav-item">
                    <a class="nav-link site-nav-link{% if active_page == 'home' %} is-active{% endif %}" href="{{ url_for('index', lang=current_lang) }}">{{ t("nav.home") }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link site-nav-link{% if active_page == 'articles' %} is-active{% endif %}" href="{{ url_for('article_index', lang=current_lang) }}">{{ t("nav.articles") }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link site-nav-link{% if active_page == 'briefs' %} is-active{% endif %}" href="{{ url_for('brief_index', lang=current_lang) }}">{{ t("nav.briefs") }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link site-nav-link{% if active_page == 'about' %} is-active{% endif %}" href="{{ url_for('about_me', lang=current_lang) }}">{{ t("nav.about") }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
