{% extends "base.html"%}


{% block title %}
<title>hanjie site</title>
{% endblock%}


{% block navbar%}
<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-custom fixed-top">
    <div class="container-fluid d-flex justify-content-center">
        <div class="site-nav-shell px-2 px-lg-3">
            <a href="{{ url_for('index') }}" class="site-nav-brand">
                <span>🏡</span>
                <span>Welcome to my personal website</span>
            </a>
            <ul class="navbar-nav flex-row site-nav-menu">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('article_index') }}" class="text-decoration-none">
                        Articles
                    </a>
                </li>
                <li class="nav-item">
                    <span class="nav-link">|</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about_me') }}">
                        About Me
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

<!-- Main Content -->
{% block main_content%}
<div class="main-content container-fluid flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="content-wrapper">
        <div class="container text-center mb-4">
            <img alt="avatar" class="rounded" style="width: 8vw;"
                src="{{ asset_url('images/headavatar/head_avatar_problem.png') }}">
        </div>
        <div class="content">
            <h5 class="mb-3">👋 hi, 我是 hanjie, earth online 的一名NPC</h5>
            <h5 class="mb-3">🎓 我是一名 emm…… 原神玩家（好吧，这么说是因为我不知道应该说什么）</h5>
            <h5 class="mb-3">💻 这个 website 使用了 python, flask, docker, nginx, gcp 等技术和服务构建</h5>
            <h5 class="mb-3">🌟 喜欢二次元，省流——是个宅男</h5>
            <h5 class="mb-3">🚀 我的长期目标每天可以自由支配自己的时间，尝试自己感兴趣的事情</h5>
            <h5 class="mb-3">📫 联系我：<a href="mailto:hanjiechen@outlook.com">hanjie-chen@outlook.com</a></h5>
        </div>
    </div>
</div>
{% endblock %}
